@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Roboto', sans-serif;
  background-image: radial-gradient(circle, black 1px, transparent 1px);
  background-size: 20px 20px; /* Regola la dimensione dei punti */
  background-color: rgba(0, 0, 0, 0.02); /* Sfondo trasparente */
  color: black;
}

body.dark {
  background-image: radial-gradient(circle, white 1px, transparent 1px);
  background-color: rgba(255, 255, 255, 0.02);
}

:root {
  --color-primary: #00d183;
  --color-secondary: #0e7e55;
}